# Main application / Prisma DB
DATABASE_URL="mysql://root:YOUR_ROOT_PASSWORD@localhost:YOUR_PORT/ipr_db"

# AI chatbot - READ ONLY DB USER
DB_HOST=localhost
DB_PORT=3305
DB_USER=ipr_chatbot
DB_PASSWORD=YOUR_CHATBOT_PASSWORD
DB_NAME=ipr_db

# LLM
GROQ_API_KEY="YOUR_GROQ_API_KEY"

# Application auth
JWT_SECRET="YOUR_JWT_SECRET"